@use "../util/" as *;

* {
  transition: all ease 0.5s;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: $attribution;
}

body {
  background-color: $background;
}
