@use "../util/" as *;

// @font-face {
//   font-family: "HankenGrotesk";
//   src: url(../../fonts/static/HankenGrotesk-Medium.ttf) format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "HankenGrotesk";
//   src: url(../../fonts/static/HankenGrotesk-Bold.ttf) format("truetype");
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: "HankenGrotesk";
//   src: url(../../fonts/static/HankenGrotesk-ExtraBold.ttf) format("truetype");
//   font-weight: bolder;
//   font-style: normal;
// }

body {
  font-family: "Hanken Grotesk", serif;
  font-size: clamp(1rem, 5.733vw, 1.4rem);
}

h2 {
  font-size: inherit;
}

.summary a,
.score,
.result__info {
  font-size: clamp(0.75rem, 3.84vw, 1.115rem);
  font-weight: 700;
}

.result {
  color: $font-secondary;

  .score__ave {
    font-size: clamp(3.25rem, 14.4vw, 3.5rem);
  }

  .score__ave,
  .result__assess {
    color: $font-primary;
    font-weight: 800;
  }

  .score__total,
  .result__info {
    opacity: 75%;
  }
}

.summary a {
  color: $font-primary;
  text-decoration: none;
  text-align: center;
}

.category {
  font-size: clamp(0.75rem, 3.84vw, 1.115rem);
}

.category:first-of-type {
  color: $reaction-txt;
}

.category:nth-of-type(2) {
  color: $memory-txt;
}

.category:nth-of-type(3) {
  color: $verbal-txt;
}

.category:last-of-type {
  color: $visual-txt;
}

.category__score {
  color: $button-txt;
  font-weight: 800;
  text-align: end;
  letter-spacing: 1px;

  span {
    color: $button;
  }
  span::after {
    content: " ";
  }
}
