$attribution: hsl(228, 45%, 44%);
$background: hsl(0, 0%, 100%);
$button: hsl(224, 30%, 27%);
$font-primary: hsl(221, 100%, 96%);
$font-secondary: hsl(241, 100%, 89%);

// BACKGROUND GRADIENT
$bg-dark: hsl(241, 81%, 54%);
$bg-light: hsl(252, 100%, 67%);

// CIRCLE GRADIENT
$circle-dark: hsla(256, 72%, 46%, 1);
$circle-light: hsla(241, 72%, 46%, 0);

// SUMMARY COLORS
$reaction: hsla(0, 100%, 67%, 0.2);
$memory: hsla(39, 100%, 56%, 0.2);
$verbal: hsla(166, 100%, 37%, 0.2);
$visual: hsla(234, 85%, 45%, 0.2);

// SUMMARY COLORS - TXT
$reaction-txt: hsl(0, 100%, 67%);
$memory-txt: hsl(39, 100%, 56%);
$verbal-txt: hsl(166, 100%, 37%);
$visual-txt: hsl(234, 85%, 45%);
$button-txt: hsl(224, 30%, 27%, 0.5);
