@use "../util/" as *;

.summary {
  a {
    width: 100%;
    background-color: $button;
    border-radius: 25px;
    padding: 10px;
  }

  a:hover {
    cursor: pointer;
    background: linear-gradient($bg-dark, $bg-light);
  }
}
