@use "../util/" as *;

.card {
  @include toFlex();

  .result,
  .summary {
    padding: 30px;
  }

  @include breakpoint(medium) {
    flex-direction: row;
    min-height: calc(100vh - 1.875em);
    margin: 0 15%;
  }

  @include breakpoint(xlarge) {
    margin: 0 30%;
  }
}
