@use "../util/" as *;

.result {
  background: linear-gradient($bg-light, $bg-dark);
  border-radius: 0 0 28px 28px;

  @include toFlex(column, 8px);
  text-align: center;
  width: 100%;

  @include breakpoint(medium) {
    gap: 1.875rem;
    border-radius: 14px;
    height: 28.125rem;
    z-index: 1;
  }
}

.score {
  background: linear-gradient($circle-dark, $circle-light);
  border-radius: 50%;
  margin: 0.313rem;
  width: 8rem;
  height: 8rem;
  position: relative;
}

.score div {
  position: absolute;
  top: 25%;
  left: 26%;
  -ms-transform: translateY(-19%);
  transform: translateY(-19%);
}

.score__ave {
  margin-top: 0.625rem;
}

.score__total {
  margin-top: -0.625rem;
}

.result__info {
  width: 12.5rem;

  @include breakpoint(medium) {
    width: 15.625rem;
  }
}
