@use "../util/" as *;

.summary {
  color: $button;
  width: 100%;
  background-color: white;

  @include toFlex();
  align-items: flex-start;
  &__table {
    border-collapse: separate;
    border-spacing: 0 13px;
    width: inherit;
    text-align: justify;
  }

  @include breakpoint(medium) {
    border-radius: 0 14px 14px 0;
    box-shadow: 15px 15px 30em -35px $font-secondary;
    height: 450px;
    z-index: 0;
    gap: 20px;
    margin-left: -30px;
    width: 100%;

    a,
    h2,
    .summary__table {
      margin-left: 25px;
      width: 93%;

      .category__name {
        width: 50%;
      }
      .category__score {
        width: 50%;
      }
    }
  }
}

.category__name {
  border-radius: 8px 0 0 8px;
  width: 70%;
  padding-left: 38px;
}

.category__score {
  border-radius: 0 8px 8px 0;
  width: 30%;
  padding-right: 18px;
}

.category__name,
.category td {
  height: 45px;
}

.category:first-of-type {
  background-color: $reaction;
}

.category:nth-of-type(2) {
  background-color: $memory;
}

.category:nth-of-type(3) {
  background-color: $verbal;
}

.category:last-of-type {
  background-color: $visual;
}
